{% extends "mind_palace/layout.html" %}
{% load static%}

{% block body %} 
    <div class="container my-5 room-section">
        <h2 class="text-center">Your Rooms</h2>

        {% if messages %} 
            <div class="container mt-3"> 
                {% for message in messages %} 
                    <div class="alert {{ message.tags }}" role="alert"> 
                        {{ message }} 
                    </div> 
                {% endfor %} 
            </div> 
        {% endif %}

        {% if rooms %}
            <div class="row">
                {% for room in rooms %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow-sm rounded">
                            <img src="{% static 'mind_palace/images/' %}{{ room.image }}" class="card-img-top rounded-top" alt="{{ room.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ room.name }}</h5>
                            </div>
                            <div class="card-footer text-center">
                                <a href="{% url 'single_room' palace_id room.id %}" class="btn btn-primary w-100">View Room</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <a href="{% url 'room_selection' palace_id %}" class="btn btn-secondary mt-3">Add Another Room</a>
            </div>
        {% else %}
            <div class="text-center">
                <p>You don't have any rooms yet.</p>
                <a href="{% url 'room_selection' palace_id %}" class="btn btn-secondary mt-3">Add Your First Room</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

    
    
    
    